a:link
{
	text-decoration:none;
	
}
a:visited
{
	text-decoration:none;
	color:pink;
	
}
a:hover
{
	background-color:pink;
	
}
a:Active
{
	background-color:voilet;
	font-size:60;
	
}
